/*
 * Heading PreProcessor plugin for DokuWiki
 */

code.preview_note { /* for preview note displayed in toc box */
  box-shadow: none;
  color: pink;
}

#dw__toc.width18 {
    width: 18em;
}

#dw__toc.wide {
    width: 100%;
    margin: .5em 0;
    border: 1px solid __border__;
}
#dw__toc.wide h3 {
    background-color: #f8f8f8;
}

/**
 * CSS inported from the include plugin
 */
.dokuwiki div.plugin_headings_include_content div.secedit {
  float: right;
  margin-left: 1em;
  margin-top: 0;
}

.dokuwiki div.plugin_headings_include_footer {
  border-top: 1px dotted __border__;
  padding-top: 0.2em;
  color: __text_neu__;
  font-size: 80%;
  line-height: 1.25;
  /*margin-top: 0.5em;*/
  margin-bottom: 2em;
}

.dokuwiki div.plugin_headings_include_footer a.permalink {
  background: transparent url(../include/images/link.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 16px;
}

.dokuwiki div.plugin_headings_include_footer abbr.published {
  background: transparent url(../include/images/date.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 16px;
  border-bottom: 0;
}

.dokuwiki div.plugin_headings_include_footer span.author {
  background: transparent url(../include/images/user.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 16px;
}

/* Disable the default interwiki icon for the user link (if there is any) */
.dokuwiki div.plugin_headings_include_footer span.author a.interwiki {
    background: none;
    padding: 0;
}

.dokuwiki div.plugin_headings_include_footer span.comment {
  background: transparent url(../include/images/comment.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 16px;
}

.dokuwiki div.plugin_headings_include_footer div.tags {
  border-top: 0;
  font-size: 100%;
  float: right;
  clear: none;
}

.dokuwiki p.include_readmore {
  text-align: right;
}

